.title {
    padding-bottom: 20px;
    margin: 1rem 0;
    text-align: center;
    color: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  
  .title h2 {
    font-size: 1.6rem;
  }
  
  .title span {
    font-size: .8rem;
  }